.userProfile {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.formContainer {
  padding: 20px;
  width: 200%;
  max-width: 60%;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
}

.content {
  margin-top: 100px;
  display: flex;
  width: 100%;
  gap: 200px;
}

.formTextContent{
  width: 100%;
  display: flex;  
}

.contentTextWithButton{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.formLabelContent{
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 5px;
}

.formInputContent{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 10px;
}
.fancyFile{
  display:none;
}
.fancyFile label{
  display: flex;
}

.fancyFileButton{
font-size: 20px;
color:rgb(42, 41, 41);
white-space: nowrap;
padding: 10px 10px;
margin-left: 160px;
cursor: pointer;
}

.imageContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  display: flex;
  margin-top: 50px;
}
.userImage {
  width: 200px;
  height: 200px;
  border-radius: 20%;
}

.label {
  font-weight: bold;
  font-family: MontHeavy;
}

.input {
  padding: 8px;
  border: 2px solid #000;
  border-radius: 10px;
  font-family: MontRegular;
  flex-grow: 1;
}

.userInfo {
  margin: 450px;
}

.button {
  padding: 5px 10px;
  margin: 0 5px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.button:hover {
  background-color: #0078d4;
  color: #fff;
}

.buttonSave {
  background-color: #000000;
  color: white;
  margin-right: 5px;
  margin-top: 20px;
}
.buttonSave:hover {
  border: 3px solid #000000;
}
.buttonCancel {
  background-color: #000000;
  color: white;
  margin-top: 20px;
}

.buttonCancel:hover {
  border: 3px solid #000000;
}
.buttonEdit {
  background-color: #000000;
  color: #fff;
  margin-top: 20px;
}
.buttonEdit:hover {
  border: 3px solid #000000;
}

.btn {
  border-color: white;
}
.progress {
  background-color: #f2f2f2;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  margin-top: -40%;
}

.progressMessage {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
}

.progressBar {
  background-color: #898787;
  height: 10px;
  border-radius: 5px;
  position: relative;
}
.InputSelect {
  width: 60%;
  margin-bottom: 10px;
}

.WrapperCountry {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
}
.progressFill {
  height: 100%;
  border-radius: 5px;
  background-color: #000000;
  transition: width 0.5s;
}
.edit {
  border: 1px solid #0d0d0d;
  background-color: #fff;
  color: #000;
}
.containerbarra {
  margin-top: -80%;
  margin-bottom: 20px;
}
