.InputNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.InputNumber h3 {
    line-height: 0;
}

.InputNumber input {
    border: none;
    border-radius: 10px;
    font-weight: 800;
    text-indent: 10px;
    -webkit-text-stroke: 0.5px black;
    margin-top: 0;
    padding-right: 5px;
    outline: none;
}

.InputNumber input::placeholder {
    font-family: CocoSharpBold;
    opacity: 50%;
    font-size: 16px;
    -webkit-text-stroke: 0.5px white;
}

.DateFile {
    border: none;
    border-radius: 10px;
    background: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: baseline;
    align-content: center;
}

.ClearInput button {
    display: flex;
    color: black;
    background: white;
    width: 15px;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

.Icon {
    color: black;
    width: 15px;
    size: 100px;
    transition: .5s ease-in-out;
}

.Icon:hover {
    transform: scale(1.2);
    color: rgb(44, 194, 180);
}

.ClearInput {
    width: 25px;
    text-decoration: none;
}

.ErrorLabel {
    width: 100%;
    height: auto;
    font-size: 15px;
    border-color: #fff;
    color: rgb(207, 35, 35);
    -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.52);
    transition: 0.5s ease-in-out;
}