 /* Estilo para el contenedor div */
 .TableContainer {
     display: flex;
     flex-direction: column;
     width: 90%;
     height: 89vh;
     margin: 0 auto;
 }

 .TableData {
     width: 100%;
     margin: 0;
     margin-top: 0px !important;
     max-height: 89%;
     overflow-y: auto;
 }

 .ImageContainer {
     width: 80px;
     height: 80px;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     overflow: hidden;
     border: 3px solid #2d2d2d;
 }

 .ImageContainer img {
     display: flex;
     width: 75%;
     height: auto;
     object-fit: cover;

 }

 .TitleTable {
     display: flex;
     color: #454444;
     width: 100%;
     font-family: MontHeavy;
     font-size: 40px;
     align-items: center;
     gap: 15px;
 }



 /* Estilo para la tabla */
 .TableData table {
     width: 100%;
     border-collapse: collapse;

 }

 .TableData th,
 td {
     font-family: MontBold;
     font-size: 15px;
     padding: 10px;
     text-align: center;
     vertical-align: middle;
 }

 .TableData th {
     font-family: MontHeavy;
     font-size: 20px;
     background-color: #888;
     position: sticky;
     top: 0;
 }

 .ItemTable {
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     width: 100%;
 }

 .BorderTable {
     width: 250px;
     height: 50px;
     display: flex;
     border: 4px solid #D9D9D9;
     border-radius: 20px;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     flex-wrap: nowrap;
     overflow: hidden !important;
     white-space: nowrap !important;
     text-overflow: ellipsis !important;
 }

 .TableData th:nth-child(even) .BorderTable {
     background-color: #D9D9D9;
     color: #2d2d2d;
     /* Color de fondo para filas pares */
 }

 /* Estilo para filas impares */
 .TableData th:nth-child(odd) .BorderTable {
     color: #f4f4f4 !important;
     background-color: none;
     /* Color de fondo para filas impares */
 }

 .TableData td:nth-child(even) .BorderTable {
     background-color: #D9D9D9;
     /* Color de fondo para filas pares */
 }

 /* Estilo para filas impares */
 .TableData td:nth-child(odd) .BorderTable {
     background-color: none;
     /* Color de fondo para filas impares */
 }


 .TableData a {
     width: 90%;
     text-decoration: none;
     color: black;
     overflow: hidden !important;
     white-space: nowrap !important;
     text-overflow: ellipsis !important;
     transition: 0.4s ease-in-out;
 }


 .TableData a:hover {
     color: #2637d2;
     transform: scale(1.05);
 }

 ::-webkit-scrollbar {
     width: 12px;
 }

 ::-webkit-scrollbar-thumb {
     background-color: #888;
     border-radius: 8px 8px 8px 8px;
 }

 ::-webkit-scrollbar-track {
     background-color: #f1f1f1;
 }

 .TableData button {
     background: none;
     border: none;
 }