.ContainerFilters {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    gap: 16px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
}

.ContainerHeader {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    gap: 16px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 40px;
}

.ProductModel {
    display: flex;
}

/* .ProductFilters {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
} */

.ProductFilters {
    width: 90%;
    gap: 10px;
    display: grid;
    grid-template-columns: 4fr 2fr 3fr 3fr;
    grid-template-rows: auto;
    justify-items: stretch;
    align-items: start;
    justify-content: space-around;
    align-content: center;
}

.DataStock {
    display: grid;
    width: 90%;
    justify-content: center;
    align-items: start;
    align-content: stretch;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    justify-items: center;
    overflow: auto;
    overflow-x: hidden;
    padding: 20px;
}

.InfoStock {
    position: relative;
    padding: 3px;
    display: flex;
    flex-direction: column;
    width: 125px;
    height: 130px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 3px;
}

.SizeStock {
    font-family: MontHeavy;
    font-size: 30px;
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 25%;
    background-color: #d9d9d9;
    border: #2d2d2d solid 3px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.ColorStock {
    top: 68px;
    right: 18px;
    position: absolute;
    border: 2px #424242 solid;
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.QuantityStock {
    display: flex;
    width: 100%;
    height: 30px;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.QuantityStock h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.InputQuantity {
    display: flex;
    width: 55%;
    height: 90%;
    border: 2px rgb(99, 99, 99) solid;
    border-radius: 8px;
    text-align: center;
}

.ProductBody {
    width: 85%;
    position: fixed;
    font-family: MontHeavy;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    padding: 15px 40px;
}

.StepsView {
    display: flex;
    flex-direction: row;
    height: 50px;
    width: 100%;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}

.ProductContainer {
    width: 100%;
}

.HeaderProduct {
    display: flex;
    text-indent: 0px;
    width: 90%;
    border-bottom: 5px dashed black;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    flex-wrap: wrap;
    align-items: flex-end;
    margin-left: 5%;
}