.ContainerFilters {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    gap: 16px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
}

.ContainerHeader {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    gap: 16px;
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 40px;
    padding-right: 40px;
}

.ProductModel {
    display: flex;
}

.ProductFilters {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.DataStock {
    display: grid;
    background-color: #D9D9D9;
    width: 766px;
    height: 450px;
    justify-content: center;
    align-items: start;
    align-content: stretch;
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
    gap: 15px;
    justify-items: center;
    overflow: auto;
    overflow-x: hidden;
    padding: 20px;
}

.InfoStock {
    position: relative;
    padding: 3px;
    display: flex;
    flex-direction: column;
    background-color: beige;
    width: 125px;
    height: 130px;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    gap: 2px;
}

.SizeStock {
    font-family: MontHeavy;
    font-size: 35px;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #d9d9d9;
    border: #2d2d2d solid 3px;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.ColorStock {
    top: 65px;
    right: 20px;
    position: absolute;
    border: 2px #424242 solid;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.QuantityStock {
    display: flex;
    width: 100%;
    height: 30px;
    padding: 0;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 4px;
}

.QuantityStock h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    padding: 0;
}

.InputQuantity {
    display: flex;
    width: 55%;
    height: 100%;
    border: 2px rgb(99, 99, 99) solid;
    border-radius: 8px;
    text-align: center;
}