/**********? CHECKBOX *****************/
.CheckBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    column-count: 3;
    column-gap: 20px;
}

.Check {
    position: relative;
    flex-basis: calc(27% - 10px);
    padding-left: 30px;
    font-size: 25px;
    cursor: pointer;
    display: flex;
    align-items: baseline;
    margin-bottom: 10px;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;

}

input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

/* Estilos para el check personalizado */
.Checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
}

/* Estilos para el check cuando está marcado */
/* Estilos para el icono del check (puedes usar una imagen o contenido de icono aquí) */
.Checkmark:after {
    content: "";
    position: absolute;
    display: none;
    border-radius: 50%;
    background: white;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #fff;
}


input[type="checkbox"] {
    opacity: 0;
    position: absolute;
    width: 0;
    height: 0;
}

/* Estilos para el icono del check (puedes usar una imagen o contenido de icono aquí) */
.Checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: white;
}

.Checkmark:hover {
    border-color: #007bff;

}

.CheckLabel {
    color: #deb887
}

.CheckLabel:hover {
    color: #007bff
        /* Agrega estilos adicionales para hover */
}

input[type="checkbox"]:checked+.Checkmark {
    border: 2px solid #007bff;
    /* Cambia el borde del check cuando está marcado */
    background-color: #007bff;
    ;
}

input[type="checkbox"]:checked+.Checkmark::before {
    content: "\2713";
    display: block;
    text-align: center;
    line-height: 20px;
    color: white;
    /* Agrega estilos adicionales para el tick cuando está marcado */
}

input[type="checkbox"]:checked+.Check {
    background-color: #007bff;
    /* Cambia el color del checkbox cuando está marcado */
    border-color: #007bff;
    /* Cambia el color del borde del checkbox cuando está marcado */
}

input[type="checkbox"]:checked+.Check~.CheckLabel::after {
    color: #007bff;
}

/*=============  ALERTS  ============*/
.ErrorLabel {
    width: 100%;
    height: auto;
    font-size: 25px;
    border-color: #fff;
    color: rgb(207, 35, 35);
    -webkit-text-stroke: 0.1px rgba(255, 255, 255, 0.52);
    transition: 0.5s ease-in-out;
}

.ErrorLabel:hover {
    color: rgba(236, 225, 128, 0.823);
    font-size: 30px;
}