.BodyAlert {
    border-radius: 30px !important;
    font-size: 20px !important;
}

.BtnBlack {
    width: 140px;
    font-family: MontHeavy;
    font-size: 20px;
    background-color: #2d2d2d !important;
    border-radius: 20px !important;
    color: white !important;
}

.BtnBlack:hover {
    background-color: #135e1f !important;
    border: 3px solid #2D2D2D;
    color: #f1f1f1 !important;
}


.BtnCancel {
    width: 140px;
    font-family: MontHeavy;
    font-size: 20px;
    border-radius: 20px !important;
    background-color: #2d2d2d !important;
    color: white !important;
}

.BtnCancel:hover {
    background-color: #5f0e0e !important;
    border: 3px solid #5f0e0e;
    color: #eeeded !important;
}


.TitleAlert {
    font-family: MontHeavy;
    font-size: 40px;
}

.ContentAlert {
    font-family: Mont;
    font-size: 20px;
}

.actionsButtons {
    display: flex;
    flex-direction: row-reverse;
    gap: 10px
}

.swal2-input {
    border: none !important;
    box-shadow: none !important;
    outline: transparent !important;
}

.inputSwall {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 22px;
    font-family: Mont;
    text-align: center;
    border-radius: 15px;
    border-bottom: 2px solid black;
}

.inputSwall:active {
    background-color: transparent;
}

.Input {
    border-radius: 15px;
    border: none;
    color: #2d2d2d;
    border-bottom: 3px #2d2d2d solid;
    font-family: MontRegular,
}

.Input:placeholder {
    color: #2d2d2d;
    font-family: MontRegular,
}