.InfoProductContainer {
    position: relative;
}

.DataInfo {
    width: 75%;
    position: relative;
    display: flex;
    gap: 12px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    padding-top: 10px;
    margin: auto;
}

.DataInfo h3 {
    padding-right: 40px;
}

.Info {
    width: 100%;
    height: auto;
}

.DataInputsProducts {
    display: flex;
    flex-direction: row;
    color: #424242;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
}

.KeyData {
    width: 180px;
    font-size: 30px;
}

.Images {
    width: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}


.UploadImages {
    width: 100%;
    height: auto;
}

.ImageContainer {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
}

.UploadContainer {
    display: flex;
    font-size: 15px;
    font-family: MontHeavy;
    align-items: center;
}