/**
 * En tu archivo CSS para el componente Detail
 *
 * @format
 */

.detail-container {
  display: flex;
  align-items: center;
  flex-direction: column;

  justify-content: center;
  height: auto;
  gap: 22px;
  margin-top: 160px;
}

.product {
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.product .imagen {
  width: 250px;

}

.product .propaganda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}

.container-data {

  display: flex;
  flex-direction: row;
  gap: 30px;
}

.product-images {
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: flex-start;
  gap: 17px;
}



.im1 {

  height: 170px;
}

.im2 {

  height: 170px;
}

.im3 {

  height: 170px;
}

.imagenes {
  display: flex;
  gap: 10px;
}

.views {
  display: flex;
  justify-content: space-between;
}

.show-table-button {
  background: transparent;
  border: none;
}

.views .show-table-button:hover {
  color: gold;
}

.product-images img {
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 150px;
}

.product-main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 525px;
  width: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  align-content: center;
}
.product-main-image .im4 {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ajusta la imagen para llenar la caja sin distorsión */
}
.product-main-image .im4:hover {
  
  transition: transform 1s; /* Agrega una transición suave */
  border-radius: 20px;
  z-index: 9;
}
.zapas{
  
  display: flex;
  justify-content: space-between;
}

.product-main-image img {
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
  height: 370px;
  position: relative;
  flex-direction: column;
  align-items: center;
}
.im0, .im1, .im2, .im3 {
  cursor: pointer;
  border: 2px solid transparent;
}

.im0:hover, .im1:hover, .im2:hover, .im3:hover{
  border-color: #007bff6e; /* Color de resaltado al pasar el ratón por encima */
}


.for {
  font-family: MontLight;
  font-size: 12px;
}

.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 485px;

}

.info h2 {
  font-family: MontLight;
}
.zapas .name {
  font-size: 38px;

  margin: 0px;
  font-family: MontHeavy;
}

.product-info h1 {
  font-size: 20px;

  font-family: MontHeavy;
}

.product-info .type {
  font-family: MontBold;
  font-size: 20px;
  margin: 0px 0px;
}

.product-info .price {
  font-family: MontHeavy;
  font-size: 26px;
}

.size {

  display: grid;
  margin: 6px;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  width: 35px;
  animation: bounceIn 2s .5s;
}

.size a {
  padding: 5px 10px;
  margin: 2px 0px;
  width: 50px;
  height: 30px;

  text-align: center;
  text-decoration: none;
  border: 1px solid #000;
  display: block;
  color: #000;
  box-shadow: 0 5px 7px #000000b4;
  font-size: 14px;
  font-family: MontHeavy;


}


.size .selected {
  background-color: #000;
  color: #fff;
  box-shadow: rgba(204, 219, 232, 0.366) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.41) -3px -3px 6px 1px inset;
}

.size a:hover {
  background: #000;
  color: #fff;
}

.bo {
  display: flex;
  height: 35px;

}

.bo .heart {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  color: #000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-left: 5px;
  background: #d9d9d9;
  text-align: center;
  font-size: 24px;
  margin-top: 0px;
}

.bo .heart:hover {
  color: red;
}

.bo .boto {
  background: #000;
  padding: 6px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #fff;
  width: 250px;
  font-family: MontHeavy;
  border: none;
  font-size: 16px;

  cursor: pointer;
}

.bo .boto:hover {
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

.arrow {
  display: flex;
  width: 100%;
}

.arrow .homebtn {
  margin-top: 100px;
  margin-left: 50px;
  font-weight: 700;
  font-family: MontHeavy;
}

.homebtn {
  text-decoration: none;
  color: #000;
  font-family: MontHeavy;
}

.homebtn:hover {
  color: #c1c1c1;
}

.homebtn img {
  /* Alto de la imagen */
  animation: slideLeft 1s linear infinite;
  /* Aplica la animación */
}

/* Definición de la animación */
@keyframes slideLeft {
  0% {
    transform: translateX(0);
    /* Inicio: no se desplaza horizontalmente */
  }

  100% {
    transform: translateX(-100%);
    /* Fin: se desplaza completamente hacia la izquierda */
  }
}

/*----------------- Tale--------------------- */
/* Estilos para la tabla de valoración */
.table-container {
  width: 100%;
  margin-top: 20px;
}

.rating-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
}

.rating-table th,
.rating-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  font-family: MontLight;
}

/* Estilos para las filas de valoración */
.rating-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.rating-table tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}

/* Estilos para la primera columna (Valoración Total) */
.rating-table tbody td:first-child {
  font-weight: bold;
}

/* Estilos para la segunda columna (Comentario) */
.rating-table tbody td:nth-child(2) {
  text-align: left;
}

/* Alinea el texto de los comentarios a la izquierda */

.dedos {
  display: flex;
  gap: 20px;
  margin: 20px 10px;
}

.read {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: flex-end;
}

.leer {
  cursor: pointer;
  font-family: MontLight;
}

.leer:hover {
  color: #3c4b5a8a;
}

.rating {
  background: green;
  color: #fff;
}

.rating h3 {
  font-family: MontHeavy;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 65px;
  margin-top: 106px;
}

.cardPromo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  margin: 0 8px;
  height: 380px;
  width: auto;
  border: 1px solid #9E9E9E;
  box-shadow: 0 3px 8px #00000072;
  padding: 25px;
  cursor: pointer;
}

.cardPromoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 270px;

}

.cardPromoImage img {
  width: 100%;
  height: auto;
}

.cardPromo h2 {
  font-family: MontHeavy;
  font-size: 36px;
  font-weight: 400;
  margin: 0;

}

.cardPromo h3 {
  margin: 0;
  font-family: MontHeavy;
  font-size: 24px;
  font-style: normal;
  margin-top: 10px;
}

.cardPromo p {
  margin: 8px;
  font-family: MontLight;
  font-size: 20px;
}

.cardPromoInfo {
  display: flex;
  flex-direction: row;

  margin-top: 15px;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: MontHeavy;
  font-size: 64px;
  line-height: 0;
  margin: 0;
}


.carouselContainer {
  width: 100%;
  margin-top: 150px;

}

.cardContainer {
  display: flex;
  margin: 0px 8px;

  margin-bottom: 20px;
  width: auto;
}

.ofe {
  width: 1000px;
}

.Colors {
  border-radius: 21px;
  background: #ccc;
  display: grid;
  gap: 5px;
  width: 75px;
  height: auto;
  padding: 8px;
  justify-content: center;
  align-items: start;
  align-content: stretch;
  grid-template-columns: repeat(auto-fill, minmax(20px, 1fr));
}

.SelectProps {
  width: 320px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.SelectSize {
  display: flex;
  flex-direction: column;
}

.SelectColor {
  display: flex;
  flex-direction: column;
}

.SelectedColor {
  transform: scale(1.2);
}

/* info */
.slidi {
  position: relative;
  width: 100%;
  overflow: hidden;
  margin: 20px 0;
  text-align: center;
  margin-top: 30px;
}

.slidi h1 {
  font-family: MontHeavy;
}

.sliderArro {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.126);
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 32px;
  color: #fff;
  z-index: 2;
  transition: background 0.3s;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.leftArrow {
  left: 0;
}

.rightArrow {
  right: 0;
}

.leftArrow:hover,
.rightArrow:hover {
  background: rgba(0, 0, 0, 0.6);
}

.slideTrack {
  display: flex;
  /* Hacer que las tarjetas se muestren en una fila horizontal */
  overflow-x: scroll;
  /* Permitir el desplazamiento horizontal */
  padding-bottom: 20px;
  margin: 20px 0;
  white-space: nowrap;
  /* Evitar saltos de línea */
}

/* Otras reglas CSS permanecen iguales */


.start {
  display: flex;
  gap: 10px;
  justify-content: center;
  text-align: center;
  padding: 8px 8px;
  border: 2px solid #000;
  width: 260px;
  font-size: 26px;
  margin-left: 40px;
  margin-top: 60px;
}

.slid {
  flex-shrink: 0;
  flex-grow: 0;
  margin: 20px;
  width: 320px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.baI {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.063);
  margin-bottom: 10px;
}

.comment {
  padding: 2px;
  box-sizing: border-box;
  width: 100% !important;
  max-height: 200px;
  word-wrap: break-word;
}

.comment h3 {
  font-family: MontRegular;
}

.comment-message {
  max-width: 100%;
  word-wrap: break-word;
  min-height: 120px;
  text-justify: distribute-all-lines;
  border: none;
}

.stars {
  display: flex;
  justify-content: center;
  text-align: center;
  color: gold;
  margin: 10px auto;
}


.star-filled {
  color: gold;
  /* Color para estrellas pintadas */
}

.star-outline {
  color: #ddd;
  /* Color para estrellas sin pintar (puedes ajustarlo) */
}