/**
 * En tu archivo CSS para el componente Detail
 *
 * @format
 */

.detail-container {
  display: flex;
  align-items: center;
  flex-direction: column  ;

  justify-content: center;
  height: auto;
  gap: 22px;
  margin-top: 160px;
}

.product{
  display: flex;
  flex-direction: row;
  gap: 50px;
}
.product .imagen{
  width: 250px;
  
}
.product .propaganda{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-right: 30px;
}
.container-data{

  display: flex;
  flex-direction: row;
  gap: 30px;
}

.product-images {
  display: flex;
  flex-direction: column;
  height: 500px;
  
}



.im1 {

  height: 170px;
}

.im2 {

  height: 170px;
}

.im3 {

  height: 170px;
}

.imagenes {
  display: flex;
  gap: 10px;
}
.views{
  display: flex;
  justify-content: space-between;
}
.views .show-table-button{
  background: transparent;
  border: none;
}
.views .show-table-button:hover{
  color:gold ;
}
.product-images img {
  display: flex;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  width: 150px;
}

.product-main-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f7f7f7;
  height: 485px;
  width: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.product-main-image img {
  display: flex;
  justify-content: center;
  align-content: center;
  width: auto;
  height: 360px;
  position: relative;
}
.for{
  font-family: MontLight;
  font-size: 12px;
}
.product-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  height: 485px;

}

.info h2 {
  font-family: MontLight;
}

.product-info .name {
  font-size: 38px;

  margin: 0px;
  font-family: MontHeavy;
}

.product-info h1 {
  font-size: 20px;

  font-family: MontHeavy;
}

.product-info .type {
  font-family: MontBold;
  font-size: 20px;
  margin: 0px 0px;
}

.product-info .price {
  font-family: MontHeavy;
  font-size: 26px;
}

.size {

  display: grid;
  margin: 6px;
  gap: 5px;
  grid-template-columns: repeat(4, 1fr);
  width: 35px;
}

.size a {
  padding: 5px 10px;
  margin: 2px 0px;
  width: 50px;
  height: 30px;

  text-align: center;
  text-decoration: none;
  border: 1px solid #000;
  display: block;
  color: #000;
  box-shadow: 0 5px 7px #000000b4;
  font-size: 14px;
  font-family: MontHeavy;


}


.size .selected {
  background-color: #000;
  color: #fff;
  
  box-shadow: rgba(204, 219, 232, 0.366) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.41) -3px -3px 6px 1px inset;
}

.size a:hover {
  background: #000;
  color: #fff;
}

.bo {
  display: flex;
  height: 35px;
  
}

.bo .heart {
  display: flex;
  justify-content: center;
  padding: 5px 10px;
  color: #000;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  margin-left: 5px;
  background: #d9d9d9;
  text-align: center;
  font-size: 24px;
}
.bo .heart:hover{
  color: red;
}

.bo .boto {
  background: #000;
  padding: 6px 10px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  color: #fff;
  width: 250px;
  font-family: MontHeavy;
  border: none;
  font-size: 16px;

  cursor: pointer;
}
.bo .boto:hover{
  background: #fff;
  color: #000;
  border: 2px solid #000;
}

.arrow {
  display: flex;
  width: 100%;
}

.arrow .homebtn {
  margin-top: 100px;
  margin-left: 50px;
  font-weight: 700;
  font-family: MontHeavy;
}
.homebtn{
  text-decoration: none;
  color: #000;
  font-family: MontHeavy;
}
.homebtn:hover{
  color:#c1c1c1 ;
}

.homebtn img{
  /* Alto de la imagen */
   animation: slideLeft 1s linear infinite; /* Aplica la animación */
 }
 
 /* Definición de la animación */
 @keyframes slideLeft {
   0% {
     transform: translateX(0); /* Inicio: no se desplaza horizontalmente */
   }
   100% {
     transform: translateX(-100%); /* Fin: se desplaza completamente hacia la izquierda */
   }
 }

/*----------------- Tale--------------------- */
/* Estilos para la tabla de valoración */
.table-container {
  width: 1050px;
  margin-top: 20px;
}

.rating-table {
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  border: 1px solid #ddd;
}

.rating-table th, .rating-table td {
  padding: 8px;
  text-align: center;
  border: 1px solid #ddd;
  font-family: MontLight;
}

/* Estilos para las filas de valoración */
.rating-table tbody tr:nth-child(odd) {
  background-color: #f2f2f2;
}

.rating-table tbody tr:nth-child(even) {
  background-color: #e6e6e6;
}

/* Estilos para la primera columna (Valoración Total) */
.rating-table tbody td:first-child {
  font-weight: bold;
}

/* Estilos para la segunda columna (Comentario) */
.rating-table tbody td:nth-child(2) {
  text-align: left;
}

/* Alinea el texto de los comentarios a la izquierda */

.dedos{
  display: flex;
  gap: 20px;
  margin: 20px 10px;
}
.read{
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: flex-end;
}
.leer{
  cursor: pointer;
  font-family: MontLight;
}
.leer:hover{
  color:#3c4b5a8a;
}
.rating{
  background: green;
  color: #fff;
}
.rating h3{
  font-family: MontHeavy;
}



.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 65px;
  margin-top: 106px;
}

.cardPromo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  border-radius: 20px;
  margin: 0 8px;
  height: 380px;
  width: auto;
  border: 1px solid #9E9E9E;
  box-shadow: 0 3px 8px #00000072;
  padding: 25px;
  cursor: pointer;
}

.cardPromoImage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 270px;

}

.cardPromoImage img {
  width: 100%;
  height: auto;
}

.cardPromo h2 {
  font-family: MontHeavy;
  font-size: 36px;
  font-weight: 400;
  margin: 0;

}

.cardPromo h3 {
  margin: 0;
  font-family: MontHeavy;
  font-size: 24px;
  font-style: normal;
  margin-top: 10px;
}

.cardPromo p {
  margin: 8px;
  font-family: MontLight;
  font-size: 20px;
}

.cardPromoInfo {
  display: flex;
  flex-direction: row;

  margin-top: 15px;
  justify-content: space-between;
}

.title {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  font-family: MontHeavy;
  font-size: 64px;
  line-height: 0;
  margin: 0;
}


.carouselContainer {
  width: 100%;
  margin-top: 150px;

}

.cardContainer {
  display: flex;
  margin: 0px 8px;

  margin-bottom: 20px;
  width: auto;
}

.ofe {
  width: 1000px;


}




