.containerList {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.homediv {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 30px;
  margin-bottom: 0;
  margin-top: 25px;
}

.filter{
  display: flex;
}

.zapatilla {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.searchBar{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.searchBar input{
  text-align: center;
  font-size: 20px;
  font-family: MontBold;
  min-height: 40px;
  max-height: 40px;
  border-radius: 10px;
  width: 200px;
}

.searchBar button{
  margin-left: 10px;
  min-height: 40px;
  max-height: 40px;
  font-family: MontBold;
  border-radius: 10px;

}


.homebtn {
  position: relative;
  top: 10px;
  margin: 0;
  text-decoration: none;
  font-family: MontHeavy;
  color: #000;
}

.homediv .men {
  font-family: MontHeavy;
}

.homebtn img {
  /* Alto de la imagen */
  animation: slideLeft 1s linear infinite;
  /* Aplica la animación */
}

/* Definición de la animación */
@keyframes slideLeft {
  0% {
    transform: translateX(0);
    /* Inicio: no se desplaza horizontalmente */
  }

  100% {
    transform: translateX(-100%);
    /* Fin: se desplaza completamente hacia la izquierda */
  }
}