.ForgotPasswordContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 900;
    align-items: center;
    justify-content: center;
}

.ForgotPasswordContainer svg {
    position: inherit;
    left: calc(-25%);
}

.ForgotContainer {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.IconBackground {
    position: inherit;
    left: calc(-25%);
    background-color: transparent;
    z-index: 200;
}

.ForgotPassword {
    position: relative;
    display: flex;
    align-items: center;
    min-width: 500px;
    max-width: 600px;
    width: 400px !important;
    margin: 0 auto;
    border: 3px solid #2d2d2d;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    box-shadow: 1px 4px 28px 9px rgba(0, 0, 0, 0.41);
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    padding: 20px 20px;
}

.Header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    border-bottom: 4px black dashed;
}

.ForgotFormInfo {
    width: 100%;
}


.Close {
    font-family: MontHeavy;
    display: flex;
    align-items: end;
    font-size: 40px;
    cursor: pointer;
    transition: 0.8s ease-in-out;
}

.Close:hover {
    color: green;
    transform: scale(1.2);

}

.Box {
    position: relative;
    display: inline;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

/* Estilos para el botón "Close" */
.BtnClose {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.logo {
    max-width: 150px;
    margin-bottom: 8px;

}

.ForgotForm {
    display: flex;
    width: 100%;
    padding-top: 20px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: nowrap;
}

.InputForgot {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
}


.inputGroup {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.inputGroup input {
    width: calc(100% - 30px);
    font-family: MontHeavy;
    font-weight: 800;
    font-size: 18px;
}


.inputIcon {
    margin: 12px 10px;
    color: #2D2D2D;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.inputField {
    width: 200px;
    flex: 1;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    padding: 8px;

}

.inputGroup.error {
    border: 1px solid red;
    border-radius: 5px;
}

.errorText {
    padding-left: 20px;
    display: flex;
    color: #626262;
    font-size: 15px;
    margin-top: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: flex-start;
    justify-content: center;
}

.BtnSignUp {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
}

.BtnPass {
    display: flex;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-content: center;
    padding-left: 30px;
}

.submitButton {
    font-family: 'MontHeavy';
    width: 100px;
    font-size: 20px;
    background-color: #d9d9d9;
    color: #2d2d2d;
    border-bottom: 3px solid #2d2d2d;
    border-left: 2px dashed #817676;
    border-top: 2px dashed #817676;
    border-radius: 24px;
    padding: 10px 12px;
    cursor: pointer;
}

.submitButton:hover {
    color: #d9d9d9;
    background-color: #2d2d2d;
    border: 4px solid #848282;

}

.submitButton h2 {
    font-family: MontHeavy;
    color: rgb(44, 194, 180);
    padding: 10px;
}