.filter{
 display: flex;
 flex-direction: column;
  padding: 10px 16px;
  background: #d4d4d463;
  border-radius: 5px;
  margin-top: 20px;
  height: auto;
  width: 260px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.filter h3{
  font-family: MontHeavy;
  color: #101010;
  font-size: 18px;
}
.title{
  margin-top: 20px;
  display: flex;
  align-items: center;
  text-indent: 14px;
}
.title a{
  text-decoration: none;
  color: #A48383;
  font-size: 12px;
  font-family: MontRegular;
  cursor: pointer;
  
  
}
.title a:hover{
  color: #a4838376;
}
.bar{
  width: 99%;
  height: 2px;
  background:#828282 ;
  bottom: 10px;
}
.img{
  bottom: 10px;
}

.selectContainer{
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-family: MontBold
}

.select{
  font-family: MontBold;
  font-size: 12px;
  gap: 10px;
  width: 220px;
  height: 30px;
  margin-bottom: 15px;
  border-radius: 5px;
  padding-left: 10px;
}

.select strong{
  font-family: MontRegular;
}

.filter1 button{
  font-family: MontBold;
  width: 70px;
  border-radius: 5px;
  background-color: #101010;
  color: white;
}

.filter1 button:hover{
  background-color: white;
  color: #101010;
}


.DataInputsProducts{
  display: flex;
  flex-direction: column;
  padding: 15px;

}


.DataInputsProducts{
  display: flex;
  justify-content: center;
}

.KeyData{
  font-family: MontBold;
  font-size: 16px;
  text-indent: 5px;
}

.data{
  font-family: MontBold;
  font-size: 16px;
  border-radius: 10px;
  text-indent: 5px;
  min-height: 40px;
  max-height: 40px;
  width: 200px;
  border: 2px solid #101010;
}

.searchBar button{
  margin-left: 10px;
  color: #000;
  width: 100px;
  margin-top: 20px;
  margin-left: 10px;
  min-height: 40px;
  max-height: 40px;
  font-family: MontBold;
  border-radius: 10px;
  background-color: white;
}