.filter{
  position: sticky;
  margin-top: 35px;
  bottom: 1455px;
  padding: 10px 12px;
  background: #d4d4d463;
  border-radius: 5px;
  
  height: auto;
  width: 250px;
}

.filter h3{
  font-family: MontSemi;
  color: #828282;
}
.title{
  display: flex;
  justify-content: space-between;
}
.title a{
  text-decoration: none;
  color: #A48383;
  font-family: MontRegular;
  position: relative;
  top: 23px;
}
.title a:hover{
  color: #a4838376;
}
.bar{
  display: block;
  width: 99%;
  height: 2px;
  background:#828282 ;
  position: relative;
  bottom: 17px;
}
.img{
  position: relative;
  bottom: 10px;
  left: 180px;
}
.select{
  font-family: MontLight;
  font-size: 12px;
}
.select strong{
  font-family: MontRegular;
}
.dropdown .dropbtn {
  position: relative;
  left: 167px;
  top: 29px;
  color: #828282;
  background-color: #d9d9d9;
  font-size: 16px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 4px 4px ;
  border: none;
  cursor: pointer;
  z-index: 1;
  
}
.dropdown .dropbtn:hover{
  scale: 0.9;
}

.dropdown .dropbtn1 {
  position: relative;
  left: 79px;
  top: 29px;
  color: #828282;
  background-color: #d9d9d9;
  font-size: 16px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 4px 4px ;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.dropdown .dropbtn1:hover {
  scale: 0.9;
}

.dropdown .dropbtn2 {
  position: relative;
  left: 119px;
  top: 29px;
  color: #828282;
  background-color: #d9d9d9;
  font-size: 16px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 4px 4px ;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.dropdown .dropbtn2:hover {
  scale: 0.9;
}
.dropdown .dropbtn3 {
  position: relative;
  left: 158px;
  top: 29px;
  color: #828282;
  background-color: #d9d9d9;
  font-size: 16px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 4px 4px ;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.dropdown .dropbtn3:hover {
  scale: 0.9;
}
.filter h4{
  font-family: MontSemi;
  color: #828282;
}

/* Estilos para el botón principal cuando está abierto */
.dropdown.active .dropbtn {
  background-color: #1e3820;
}

.dropdowncont {
  position: relative;
  background-color: #d9d9d9;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 250px;
  bottom: 19px;
  box-shadow: 0 4px 10px #00000059;
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.dropdowncont1 {
  display: grid;
  padding: 7px 0px;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  background-color: #d9d9d9;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 250px;
  bottom: 19px;
  box-shadow: 0 4px 10px #00000059;
 
}


.dropdowncont a {
  padding: 2px 16px;
  text-decoration: none;
  display: block;
  color: #828282;
  font-size: 14px;
  font-family: MontRegular;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
}
.dropdowncont1 a {
  padding: 4px 10px ;;
  margin: 4px;
  width: 25px;
  height: 15px;
  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  border: 1px solid #828282;
  display: block;
  color: #828282;
  box-shadow: 0 5px 7px #0000003f;
  font-size: 14px;
  font-family: MontRegular;
}
.dropdowncont1 a:hover{
  background: #828282;
  color: #d9d9d9;
}
.dropdowncont a:hover{
  background: #828282;
  color: #d9d9d9;
}
.sort{
  display: flex;
}
.punto{
  position: relative;
  width: 220px;
  bottom: 19px;
  border-bottom: 2px  dashed #828282 ;

}
.dropdown .dropbtn4 {
  position: relative;
  left: 173px;
  top: 30px;
  color: #828282;
  background-color: #d9d9d9;
  font-size: 16px;
  border-radius: 50%;
  width: 26px;
  height: 26px;
  padding: 4px 4px ;
  border: none;
  cursor: pointer;
  z-index: 1;
}
.dropdown .dropbtn4:hover {
  scale: 0.9;
}
.dropdowncont2 {
  display: grid;
  padding: 7px 0px;
  grid-template-columns: repeat(4, 1fr);
  position: relative;
  background-color: #d9d9d9;
  border: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  min-width: 50px;
  bottom: 19px;
  box-shadow: 0 4px 7px #00000059;
  
}
.dropdowncont2 a {
  
  margin: 4px;

  border-radius: 4px;
  text-align: center;
  text-decoration: none;
  box-shadow: 0 6px 7px #0000003f;
  
  
  
}
.dropdowncont2 a:hover{
  opacity: .4;
}