.h2 {
  margin-top: 50px;
  font-family: MontHeavy;
  font-size: 50px;
  display: flex;
  justify-content: flex-start;
  padding-left: 200px;
}

.select{
  margin-top: 20px;
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  font-family: Montregular;
  font-size: 16px;
  color: white;
  background-color: black;
  
}



.cartTable th, .cartTable td {
  padding: 20px;
  border: 1px solid #ccc;
  text-align: center;
}

.cartTable th {
  background-color: #f5f5f5;
  font-family: MontHeavy;
  font-size: 16px;
  
}

.cartTable td {
  font-family: MontRegular;
  font-size: 14px;
}


.homebtn {
  text-decoration: none;
  color: #000;
  font-family: MontRegular;
}

.homebtn:hover {
  color: #c1c1c1;
}

.cartContainer {
  padding: 20px;
  font-family: MontHeavy;
  font-size: 20px;
  text-align: center;
  margin-left: 10%;

}

.cartEmpty p {
  font-family: Montregular;
  font-size: 24px;
  text-align: center;
}
.pagination {
  text-align: center;
  margin-top: 20px;
}

.paginationButton {
  color: #ffffff;
  background-color: black;
  padding: 10px 20px;
  border-color: rgb(0, 0, 0);
  cursor: pointer;
  outline: none;
  font-family: MontRegular;
  font-size: 12px;

}


.currentPage {
  
  margin: 0 10px;
  font-family: MontRegular;
  font-size: 12px;

}

.reviewButton{
  padding: 5px 10px;
  border: 1px solid #000;
  text-decoration: none;
  color: #000;
  font-family: MontHeavy;
}
.reviewButton:hover{
  background: #000;
  color: #fff;
}