.dashboard {
  display: flex;
  flex-direction: column;
  background-color: #f5f7fb;
  overflow: hidden;

}


.logo {
  font-weight: bold;
  font-size: 1.5rem;
}

.title {
  font-size: 1.25rem;
  margin-left: 20px;
  font-family: Montheavy;
}

.container {
  display: flex;
  flex-grow: 1;
  overflow: hidden;
}

.sidebar {
  width: 275px;
  height: 100vh;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  margin-left: 0;
  border: none;
}

.menu {
  list-style: none;
  padding: 0;
}

.menu li {
  display: flex;
  align-items: center;
  padding: 1.25rem 2rem;
  cursor: pointer;
  transition: background-color 0.2s;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 2px solid rgba(255, 255, 255, 0.2);
}

.menu li:hover {
  background-color: #34495e;
}

.icon {
  margin-right: 1rem;
  font-size: 30px;
  color: rgb(0, 0, 0);
}

.content {
  flex-grow: 1;
  padding: 2rem;
  background-color: white;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  color: #333;
}

.logoNavbar {
  font-size: 50px;
  margin-left: 100px;
}

.menuItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.iconNext {
  font-size: 30px;
  color: white;
}


.span {
  font-family: MontHeavy;
  display: flex;
  color: rgb(0, 0, 0);
  align-items: center;
  justify-content: space-between;

}