.CheckOutContainer {
    position: relative;
    top: 80px;
    margin-bottom: 80px;
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
    align-content: space-around;
    margin-bottom: 80px;
}