/* styles.css o el nombre de tu archivo CSS */
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px; 
    margin-top: 20px;
    margin-left: 30px;
   
  }
  

  .zapatilla {
    position: relative;
    width: 290px; 
    height: auto;
    border: 1px solid #ccc;
    text-decoration: none;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    margin: 10px;
    padding: 10px;
    cursor: pointer;
  }
  .zapatilla:hover{
    transform: scale(1.05) ;
  }
.product{
   display: flex;
   flex-direction: row-reverse
}
.isPriceLessThan90::before {
  content: '40%';
  position: absolute;
  width: 0px;
  height: 40px;
  border-left: 30px solid #737373;
  border-right: 30px solid #737373;
  filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.797));
  border-bottom: 10px solid transparent;
  top: -10px;
  left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-family: MontRegular;
  font-size: 18px;
  text-transform: uppercase;
  transition: all 0.5s ease;
}

.zapatilla .price{
  position: relative;
  background: #080808;
  color: #fff;
  width: 86px;
  height: 30px;
  left: 25px;
 padding: 4px 4px;
 
  border-radius: 5px 0 0 5px;
  box-shadow: 0 2px 7px #000000cd;
    font-family: MontHeavy;
}
.price div {
  position: absolute;
  bottom: -23px;
  right: 0px;
  width: 0;
  height: 0;
  font-family: MontHeavy;
  border-top: 13px solid #a2a2a2;
  border-bottom: 10px solid transparent;
  border-right: 13px solid transparent;
  z-index: -6;
}
.zapatilla .price p{
  font-size: 18px;
  padding: 4px 4px;
}

  .zapatilla img {
    max-width: 100%;
    height: auto;
    margin-top: 30px;
  }
  .zapatilla .circle{
  display: flex;
  justify-content: space-between;
  font-size: 8px;
}
  .zapatilla h2 {
    font-size: 18px;
    color: #000;
   margin: 0;
    font-family: MontHeavy;
  }
  
  .zapatilla .type {
    font-size: 14px;
    margin-top: 5px;
    margin: 0;
    color: #000;
  }
  .zapatilla p {
    font-size: 14px;
    margin-top: 5px;
    margin: 0;
    
  }
  
  
  .zapatilla a {
    position: absolute;
    top: 5px;
    right: 10px;
    
    cursor: pointer;
    filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.463));
    text-decoration: none;
    font-size: 25px;
    
    z-index: 1;
  }
  .name{
    display: flex;
    justify-content: space-between;
  }
  .zapatilla img {
    max-width: 100%;
    height: auto;
  }
  
  .zapatilla h2 {
    font-size: 25px;
    margin-top: 10px;
    font-family: MontHeavy;
  }
  
  .zapatilla .type {
    font-size: 14px;
    margin-top: 5px;
    font-family: MontLight;
  }
  /* Estilo general para los botones de paginación */
.pagination{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  left: 260px;
  margin: 40px auto;
}
.pagination .buttonpag {
 width: auto;
 height: auto;
  border: 1px solid #000;
  padding: 5px 15px;
  margin: 0 5px; 
  cursor: pointer;
  border-radius: 5px;
  outline: none;
}


/* Estilo para el botón activo */
.buttonpagi.active {
  background-color: black;
  color: #fff;
  font-weight: bold;
}
.buttonpag.active {
  background-color: black;
  color: #fff;
  font-weight: bold;
}
