.cartContainer {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
  font-family: MontHeavy;
  font-size: 20px;
  
}
.tableContainer{
  width: 400px;
}

.homebtn {
  text-decoration: none;
  color: #000;
  font-family: MontRegular;
}

.homebtn:hover {
  color: #c1c1c1;
}

.homebtonP{
  margin-top: 10px;

}

.cartTable {
  padding: 60px;
  text-align: center;
  margin-top: 50px;
}

.cartTable td {
  padding-left: 50px;
  padding-right: 50px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-family: Montregular;
  font-size: 15px;
}

.itemImage {
  max-width: 80px;
  height: auto;
  transition: transform 0.3s ease;
}

.itemImage:hover {
  transform: scale(1.1);
}

.quantityCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantityButton {
  cursor: pointer;
  padding: 10px;
}

.icon {

  font-size: 30px;
  color: rgb(10, 10, 10);
  cursor: pointer;
}

.icon:hover {
  color: rgb(204, 14, 14);
}

.home {
  cursor: pointer;
  background-color: #c2c4c2;
  color: #000000;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 60px;
  font-family: MontHeavy;
}

.pay {
  cursor: pointer;
  background-color: #198805;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin-top: 20px;
  font-family: MontHeavy;
  animation: pulse 1s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.totalTableContainer {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-end;
  align-content: space-between;
}

.total {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-size: 18px;
  margin-top: 10px;
  margin-right: 20px;
  color: #000000;
  font-weight: bold;
}

.h2 {
  margin-top: 50px;
  font-family: MontHeavy;
  font-size: 50px;
  display: flex;
  justify-content: flex-start;
  padding-left: 200px;
}

.buttonContainer {
  
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-left: 218px;
  width: 1000px;
}

.cartEmpty {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: 218px;
  width: 1150px;

}

.cartEmpty p {
  font-family: Montregular;
  font-size: 50px;
}

.trash {
  margin-top: 10px;
  margin-right: 1rem;
  font-size: 20px;
  color: rgb(11, 11, 11);
  cursor: pointer;
}

.trash:hover {
  color: rgb(162, 16, 16);
}

.totalTable {
  width: 100%;
  font-family: MontHeavy;
  font-size: 18px;
  border: 10px;
  display: flex;
  align-items: center;
}

.totalTable td {
  text-align: right;
  padding: 10px 40px 10px 40px;
  background-color: rgba(195, 196, 196, 0.903);
  border-radius: 18px;
}

.buttonHome {
  margin-left: 200px;
  text-decoration: none;
}
.divi p{
  margin-top: 70px ;
  margin-left: 200px;
  color: #000;
}

.hom img{
  /* Alto de la imagen */
   animation: slideLeft 1s linear infinite; /* Aplica la animación */
 }
 
 /* Definición de la animación */
 @keyframes slideLeft {
   0% {
     transform: translateX(0); /* Inicio: no se desplaza horizontalmente */
   }
   100% {
     transform: translateX(-100%); /* Fin: se desplaza completamente hacia la izquierda */
   }
 }