.cartContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  font-family: MontHeavy;
}
.tableContainer {
  margin: 0 auto; 
  max-width: 800px; 

}

.cartTable {
  width: 100%;
  border-collapse: collapse;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.87);
  box-shadow: 0px 0px 29px 4px rgba(0, 0, 0, 0.87);
}

.cartTable th {
  padding: 20px; 
  background-color: #f2f2f2;
  border-bottom: 2px solid #ddd;
  text-align: center;
}

.cartTable td {
  padding: 20px;
  border-bottom: 1px solid #ddd;
  text-align: center;
}

.itemImage {
  max-width: 80px;
  height: auto;
}

.quantityCell {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.quantityButton {
  cursor: pointer;
}

.icon {
  margin-right: 1rem;
  font-size: 30px;
  color: rgb(243, 0, 0);
  cursor: pointer;
}

.icon:hover {
  color: rgb(85, 83, 83);
}

.pay {
  cursor: pointer;
  background-color: #198805;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 5px;
  margin: 0 5px;
  margin-top: 20px;
  display: flex;
  align-items: flex-end;
  font-family: MontHeavy;
}

.trash{
  margin-top: 15px;
  margin-right: 1rem;
  font-size: 30px;
  color: rgb(11, 11, 11);
  cursor: pointer;
}

.trash:hover {
  color: rgb(162, 16, 16);
}