.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 65px;
    margin-top: 106px;
  }

.cardPromo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    border-radius: 20px;
    margin: 0 8px;
    height: 380px;
    width: auto;
    border: 1px solid #9E9E9E;
    box-shadow: 0 3px 8px #00000072;
    padding: 25px;
    cursor: pointer;
}

.cardPromoImage{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 270px;
   
}

.cardPromoImage img{
    width: 150px;
    height: auto;
}

.cardPromo h2{
    font-family: MontHeavy;
    font-size: 36px;
    font-weight: 400;
    margin: 0;

}

.cardPromo h3{
    margin: 0;
    font-family: MontHeavy;
    font-size: 24px;
    font-style: normal;
    margin-top: 10px;
}

.cardPromo p{
    margin: 8px;
    font-family: MontLight;
    font-size: 20px;
}

.cardPromoInfo{
    display: flex;
    flex-direction: row;
   
    margin-top: 15px;
    justify-content: space-between;
}
  
  .title{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    font-family: MontHeavy;
    font-size: 64px;
    line-height: 0;
    margin: 0;
  }


  .carouselContainer {
    width: 100%;
     

  }

  .cardContainer {
      display: flex;
      margin: 0px 8px;
      
      margin-bottom: 20px;
      width: auto;
    }
  .ofe{
        width: 1000px;
       
   
  }


