.InputSelect {
    width: 100%;
    display: flex;
}

.InputSelect h3 {
    line-height: 0;
}

.InputSelect select {
    max-width: 100%;
    border-radius: 0px 0px 10px 10px;
    border: none;
    border-bottom: 5px solid green;
    border-inline-end: 1px solid green;
    font-family: Mont;
    font-weight: bold;
    font-size: 20px;
    text-indent: 10px;
    margin-top: 0;
    padding: 10px;
    width: 100%;
    outline: none;
}

.InputSelect input::placeholder {
    opacity: 50%;
    font-size: 15px;
    align-content: start;
    text-align: start;
}

.InputSelect select:focus {
    outline: none;
    background-color: #f0f0f0;
    border-color: #dfdfdf;
}

.DateFile {
    width: calc(100%) !important;
    border: none;
    border-radius: 10px;
    justify-content: flex-start;
    flex-wrap: nowrap;
}