.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    max-height: 80px;
    transition: transform 0.3s;
    transform: translateY(-100%);
}

.container.visible {
    transform: translateY(0);
}

.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: 80px !important;
    width: 100%;
    padding-left: 20px;
}

.NavbarLinks {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    padding: 0 45px;
}

.NavbarLinks a {
    display: flex;
    text-decoration: none;
    color: #101010;
    text-align: center;
    padding-top: 10px;
}

.NavbarLinks h2 {
    display: flex;
    font-family: MontHeavy;
    margin: 0;
    font-size: 28px;
}

.NavbarLinks h3 {
    display: flex;
    font-family: MontHeavy;
    margin: 0;
    font-size: 45px;
    line-height: 0;
}

.NavInput {
    display: flex;
    height: 40px;
    width: 150px;
    border-radius: 25px;
    border: none;
    background-color: #d9d9d9;
    font-family: MontHeavy;
    font-size: 20px;
    line-height: 0;
    text-align: center;
}

.btn {
    text-decoration: none;
    background: #000;
    color: #fff;
    padding: 4px 10px;
    font-family: MontHeavy;
}

.btn:hover {
    background: #3e3e3e8a;
    color: #000;
}


.cartCounter {
    background-color: gold;
    color: #000000;
    padding: 10px 8px;
    border-radius: 50%;
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.BackHomeContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 10px;
    padding-left: 20px;
}

.BackHomeContainer a {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
}

.BackHome {
    background: white;
    width: 100%;
    transition: transform 0.3s;
    transform: translateY(-60%);
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 25px;
}

.BackHomeOnly {
    display: flex;
    background: white;
    transition: transform 0.3s;
    transform: translateY(-25%);
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
}