.banner {
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    z-index: 200;
    width: 100%;
    min-height: 70px;
    transition: transform 0.3s;
    background-color: rgba(183, 31, 31, 0.776);
    background-blend-mode:overlay;
    background-image: url('../../assets/Image/giphy.gif');
    background-repeat: no-repeat;
    background-size: cover;
    
}

.btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    gap: 10px;
    color: white;
    font-family: MontBold;
    font-size: 25px;
    line-height: 0;
}

.btn :hover{
    text-decoration: underline;
}

