.SignIn {
    position: absolute;
    right: 25px;
    top: 40px;
    background: #447974;
    width: 300px;
    min-height: 400px;
    border-radius: 30px;
    opacity: 0;
    visibility: hidden;
    /* Oculta el componente */
    transition: opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
}


.SignIn.active {
    opacity: 1;
    visibility: visible;

}

.SignInForm {
    display: flex;
    padding: 25px;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
}

.GroupInput {
    display: flex;
    gap: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-bottom: 18px;
}

.BtnSignIn {
    display: flex;
    padding: 0px 10px 0px 10px;
    gap: 8px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}


.BtnLogIn {
    font-size: 22px;
    margin: 0;
    padding: 0;
    width: 200px !important;
    height: 40px !important;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 25px;
    border: 2.5px solid white;
    background: transparent;
    color: white;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
}

.SocialNet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    gap: 10px;
}

.Links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.Links label {
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}

.errorText {
    color: rgb(160, 157, 157);
    font-size: 18px;
}