.SignInContainer {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    width: 100vw;
    height: 100vh;
    background: transparent;
    align-items: center;
    justify-content: center;
}

.SignIn {
    position: absolute;
    right: 0px;
    top: 60px;
    z-index: 100;
    background: #2D2D2D;
    width: 300px;
    min-height: 400px;
    border-radius: 30px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}

.SignIn.active {
    animation: fly 0.3s;
    opacity: 1;
    visibility: visible;
}

.SignIn.fadeOut {
    animation: flyOut 0.5s;
    opacity: 0;
    visibility: hidden;
}

.SignInForm {
    display: flex;
    padding: 25px;
    padding-top: 50px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: stretch;
}

.GroupInput {
    display: flex;
    gap: 0px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: flex-start;
    margin-top: 10px;
    margin-bottom: 10px;
}

.BtnSignIn {
    display: flex;
    padding: 0px 10px 0px 10px;
    gap: 8px;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
}


.BtnLogIn {
    font-family: MontHeavy;
    font-size: 22px;
    margin: 0;
    padding: 0;
    width: 200px !important;
    height: 40px !important;
    text-align: center;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    display: flex;
    border-radius: 25px;
    border: 2.5px solid white;
    background: transparent;
    color: white;
    cursor: pointer;
}

.BtnLogIn:hover {
    background: rgb(9, 88, 9);
    font-size: 24px;
    color: rgb(192, 192, 192);
}

.SocialNet {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    gap: 10px;
}

.Links {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    flex-direction: column;
}

.Links label {
    font-family: Mont;
    cursor: pointer;
    display: flex;
    text-decoration: none;
    color: white;
    transition: 0.5s ease-in-out;
}

.Links label:hover {
    color: rgb(66, 183, 66);
    transition: 0.5s ease-in-out;
}

.errorText {
    color: rgb(248 148 148);
    font-size: 15px;
    margin: 4px 0px 18px 0px;
}

@keyframes fly {
    from {
        transform: scale(0.7)
    }

    to {
        transform: scale(1);
        opacity: 1;
        visibility: visible;
    }
}

@keyframes flyOut {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(0);
        opacity: 0;
        visibility: hidden;
    }
}