.containerList{
  display: flex;
  flex-direction: column;

  width: 100%;
}


.zapatilla{

  margin-left: 80px;

}
.homediv{
  display: flex;
  justify-content: space-between;
  width: 700px;
  
  margin-bottom: 0;
  margin-top: 25px;
  margin-left: 30px;
}
.homebtn{
  position: relative;
  top: 10px;
  margin: 0;
  font-family: MontHeavy;
  text-decoration: none;
  color: #000;
}
.homediv .men {
font-family: MontHeavy;
}
.homebtn img{
  /* Alto de la imagen */
   animation: slideLeft 1s linear infinite; /* Aplica la animación */
 }
 
 /* Definición de la animación */
 @keyframes slideLeft {
   0% {
     transform: translateX(0); /* Inicio: no se desplaza horizontalmente */
   }
   100% {
     transform: translateX(-100%); /* Fin: se desplaza completamente hacia la izquierda */
   }
 }
 