.containerList{
    display: flex;
    flex-direction: column;
    width: 100%;
}


.zapatilla{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
