.UploadImages {
  width: 100%;
  height: auto;
}

.button {
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px;
  font-size: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  background-color: rgb(44, 194, 180);
  align-items: center;
  display: block;
  margin: 10px auto;
  font-family: cocogoose;
}

.centerButton {
  display: flex;
  gap: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto;

}

.img {
  width: 300px;
  height: auto;
  padding: 5px;
  margin: 0 auto;
  border-radius: 5px;
}