

.containerMember{
    margin-top: 106px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
    background-image: url('../../assets/Image/memberBe.jpg');
    background-repeat: no-repeat;
}

.member{
    font-family: MontHeavy;
    color: #ffffff;
    font-size: 70px;
    margin: 0;
}