.ContainerCheckOut {
    position: relative;
    display: flex;
    width: 100vw;
    height: auto;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: stretch;
}