.ContainerCheckOut {
    position: relative;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    width: 900px;
    min-height: 1000px;
    background: #000000;
    color: #FFFFFF;
}