.ContainerHeader {
    position: relative;
    display: flex;
    width: auto;
    height: auto;
    gap: 18px;
    justify-content: flex-start;
    flex-direction: row;
    align-items: flex-start;
    color: #424242;
}

.Title {
    border-bottom: 3px dashed;
    width: 90%;
    display: flex;
    font-family: MontHeavy;
    font-size: 25px;
    margin-left: 30px;
}

.Text {
    display: flex;
    font-family: MontBold;
    font-size: 20px;
    flex-direction: row;
    justify-content: flex-end;
    padding-left: 30px;
}